.c-podcast {
    &__player {
      width: 100vw;
      background-size: cover;
      transform: translate(-50vw);
      left: 50%;
      position: relative;
    }
    &__audio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 350px;
      }

    .audio-player {
        width: 80%;
        /* e.g., width, height, background color, etc. */
    }
  
  .audio-player::-webkit-media-controls-panel {
    /* Styling for the default controls panel */
    /* e.g., background color, border, padding, etc. */
  }
  
  .audio-player::-webkit-media-controls-play-button {
    /* Styling for the play button */
    /* e.g., background image, size, position, etc. */
    
  }
  
  .audio-player::-webkit-media-controls-volume-slider {
    /* Styling for the volume slider */
    /* e.g., width, height, color, etc. */
  }
  
  .audio-player::-webkit-media-controls-time-remaining-display {
    /* Styling for the time remaining display */
    /* e.g., font size, color, etc. */
    font-size: 20px;
  }

  &__author-title {
    text-align: center;
    margin: 2.5rem 0;
  }
  &__guest {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }
  &__title {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 4.5rem;
  }
  &__about {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
    li {
      font-size: 1.6rem;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid $grey;
      cursor: pointer;
      padding-right: 2rem;
    }
  }
  &__about-podcast, &__transcript {
    p {
      font-size: 1.4rem;
      margin: 2rem 0;
    }
  }
  &__podcast-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 5rem;
    border-bottom: 1.2px solid $grey;
  }
  &__listening-opts {
    span {
      display: flex;
      align-items: center;
    }
    img {
      height: 1.8rem;
      object-fit: cover;
      &:first-child {
        margin-left: 1rem;
      }
    }
  }
  &__podcast-video {
    display: flex;
    align-items: center;
    color: $black;
    img {
      height: 1.8rem;
      object-fit: cover;
      display: block;
      margin-left: 1rem;
    }
  }
}


