.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    &__logo {
        height: 6rem !important;
    }
    &__meta-info {
        list-style-type: none;
        display: flex;
    }
    &__nav {
        display: flex;
        flex-direction: row;
    }
    &__login a {
        text-decoration: none;
        padding-right: 1rem;
        font-size: 1.2rem;
        color: $black;
        border-right: 2.5px solid $black;
        margin-right: 1rem;
        transition: all 300ms ease-in;
        &:hover {
            color: $yellow;
        }
    }
    &__cart {
        position: relative;
        a {
            text-decoration: none;
        }
        span {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: red;
            color: $white;
            text-align: center;
            position: absolute;
            top: 5px;
            left: 10px;
        }
    }
    &__search {
        margin-left: 2rem;
        cursor: pointer;
    }
}

.main-navigation {
    ul {
        list-style: none;
        display: flex;
        li a {
            text-decoration: none;
            color: $black;
            padding-right: 2.5rem;
            font-size: 1.2rem;
            transition: all 300ms ease-in;
            &:hover {
                color: $yellow;
            }
        }
    }
}

// Search Form
.overlay-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.9);
    z-index: 10;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in;
}

.show-overlay-menu {
  transition: opacity 600ms ease-in-out;
  opacity: 1;
  visibility: visible;
}

.header-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    z-index: 40;
    position: relative;
    button {
        display: none;
    }
    &:after {
        background-color: $yellow;
        background-size: cover;
        width: 100%;
        height: 1px;
        content: '';
      display: block;
    }
}

.search-form {
    width: 100%;
}

.search-field {
    width: 100%;
    border: none;
    outline: none;
    line-height: 2rem;
    padding-left: 1rem;
    background-color: transparent;
    color: $white;
    font-weight: 600;
}

.search-icon {
    height: 1.2rem;
    cursor: pointer;
    @media only screen and (max-width: $mobile_max) {
        display: none;
    }
}

.close-icon {
    max-width: 20px !important;
    width: 100%;
    height: 1.2rem !important;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1.2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    @media only screen and (max-width: $mobile_max) {
        width: unset;
      }
}