@import "globals/colors";
@import "globals/variables";
@import "globals/mixins";

@import "header";
@import "footer";

//Pages
@import "pages/home";
@import "pages/about";
<<<<<<< HEAD
@import "pages/podcast";
=======
@import "pages//cr3ators-club";
@import "pages/single-cr3ators";

//Login - Register
@import "pages/login";
>>>>>>> 3c253b54ace52fa22f67809828dacbbf132cf161


body {
    background-color: $white;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $inter;
  }
  
  li, a, p, label, input {
    font-family: $bebas;
  }

  a {
    text-decoration: none;
  }

  figure {
    margin: 0;
  }

  ul {
    list-style-type: none;
  }
  
  //Animations
  $bezier: cubic-bezier(0.64, 0.04, 0.35, 1);
  .to-reveal {
    opacity: 0;
    position: relative;
    top: 20px;
  }
  
  .revealed {
    transition: 0.6s $bezier;
    opacity: 1;
    position: relative;
    top: 0;
  }
  
  .container-margins {
    @include container-margins;
   }
  
   .dark-bg {
    transition: 300ms;
    visibility: hidden;
   }
  
   .show-dark-bg {
    background-color: rgba($black, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    visibility: visible;
   }
  
   [aria-current="page"] {
      color: $black !important;
  }

  .content {
    flex: 1;
  }

  .open {
    display: block;
  }